{% extends 'base.html' %}

{% block title %}Detalle de Reserva{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Detalle de Reserva</h1>
        <dl class="row mt-4">
            <dt class="col-sm-3">Título:</dt>
            <dd class="col-sm-9">{{ object.titulo }}</dd>
            
            <dt class="col-sm-3">Descripción:</dt>
            <dd class="col-sm-9">{{ object.descripcion|default:"-" }}</dd>
            
            <dt class="col-sm-3">Persona:</dt>
            <dd class="col-sm-9">{{ object.persona }}</dd>
            
            <dt class="col-sm-3">Lugar:</dt>
            <dd class="col-sm-9">{{ object.lugar }}</dd>
            
            <dt class="col-sm-3">Fecha:</dt>
            <dd class="col-sm-9">{{ object.fecha }}</dd>
            
            <dt class="col-sm-3">Hora:</dt>
            <dd class="col-sm-9">{{ object.hora_comienzo }} - {{ object.hora_final }}</dd>
        </dl>
        <div class="mt-3">
            <a href="{% url 'agenda_list' %}" class="btn btn-secondary">Volver</a>
            <a href="{% url 'agenda_update' object.pk %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'agenda_delete' object.pk %}" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
</div>
{% endblock %}
